
   <app-header class="header inner"></app-header>

   <div class="inner-header">
      <h1 class="head-1">About Coral</h1>
      <ul class="breadcrump">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html" class="active">About</a></li>
      </ul>
      <div class="line"></div>
  </div>

  <div class="container">
      <!---------------------------------ABOUT US-->
      <div class="aboutus">
          <div class="aboutus__text">
              <h2 class="heading-secondary">
                  The one platform for healthcare-
                  Why did we try to solve a broken
              </h2>
              <p>
                  Our mission is simple: We think health plans should know the price of medical services up front,
                  and providers should get paid extremely fast, without having to fight for what they’ve done.
                  So we’ve built a system to simplify that process, and make it easy for everyone.
              </p>
              <p>
                  Coral was founded in 2016 by successful serial entrepreneur Gregory Smith. Greg was new to
                  healthcare in 2016,
                  but had a 30 year track record of founding successful companies. All four of his previous companies
                  operated on
                  the same principle- taking extremely complex problems and making them simple, and solvable for
                  everyone.
              </p>
          </div>
          <img src="assets/images/aboutus@2x.jpg" alt="" class="aboutus__img">
      </div>

      <!---------------------------------HISTORY-->
      <div class="history">
          <h4 class="head-4">History</h4>
          <div class="history__contain">
              <div class="history__title"></div>
              <div class="history__slider">
                  <div id="timeline" class="row ">

                      <div class="timelineCont ">
                          <div class="row">
                              <div class="date">
                                  <h2></h2>
                              </div>

                              <div class="text">
                                  <p> </p>
                              </div>
                          </div>
                      </div>

                      <div class="timelineCont active">
                          <div class="row">
                              <div class="date">
                                  <!-- <img src="assets/images/up.svg" alt="" class="date-icon date-icon-up"> -->
                                  <h2>2016</h2>
                              </div>

                              <div class="text">
                                  <p>
                                      <img src="assets/images/startup.png" alt="" class="vector">
                                      <strong>Startup</strong>
                                      Coral was formed by uniting industry leading stake holders,
                                      on one platform, with a common goal.</p>
                              </div>
                          </div>
                      </div>

                      <div class="timelineCont">
                          <div class="row">
                              <div class="date">
                                  <h2>2018</h2>
                              </div>

                              <div class="text">
                                  <p>Our platform went into closed beta, and processed 40 episodes of care.
                                  </p>
                              </div>
                          </div>
                      </div>

                      <div class="timelineCont">
                          <div class="row">
                              <div class="date">
                                  <h2>2019</h2>
                              </div>

                              <div class="text">
                                  <p>We spent thousands of hours meeting with customers, and made the platform for
                                      them- we
                                      reached 14,000 episodes of care. </p>
                              </div>
                          </div>
                      </div>

                      <div class="timelineCont">
                          <div class="row">
                              <div class="date">
                                  <h2>2020</h2>
                              </div>

                              <div class="text">
                                  <p>Coral 2.0 is started, the platform reached 28,0000 episodes of care.</p>
                              </div>
                          </div>
                      </div>
                      <div class="timelineCont">
                          <div class="row">
                              <div class="date">
                                  <!-- <img src="assets/images/down.svg" alt="" class="date-icon date-icon-down"> -->
                                  <h2>2021</h2>
                              </div>

                              <div class="text">
                                  <p>
                                      <strong>NOW...</strong>
                                      Coral 2.0 is launched
                                      Coral reached 38,000+ episodes of care.</p>
                              </div>
                          </div>
                      </div>
                      <div class="timelineCont ">
                          <div class="row">
                              <div class="date">
                                  <h2></h2>
                              </div>

                              <div class="text">
                                  <p> </p>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>



      </div>

      <!---------------------------------Values-->
      <div class="values">

          <h4 class="head-4 head-4--white">
              Our Values
          </h4>

          <div class="values-grid  bounceIn">



              <div class="values-box">
                  <svg class="values-box-icon">
                      <use xlink:href="assets/images/sprite.svg#icon-Transparency"></use>
                  </svg>
                  <h3 class="heading-tertiary">Transparency</h3>
                  <p class="values-box__text">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the
                      1500s.
                  </p>

              </div>

              <div class="values-box">
                  <svg class="values-box-icon">
                      <use xlink:href="assets/images/sprite.svg#icon-Experience"></use>
                  </svg>
                  <h3 class="heading-tertiary">Customer Experience</h3>
                  <p class="values-box__text">
                      We built the Coral Platform for our users. If they are not happy, we’re not happy.
                      We strive for perfection in all things, and every single customer has member
                      of our team’s cell phone, to call at anytime.
                  </p>

              </div>

              <div class="values-box">
                  <svg class="values-box-icon">
                      <use xlink:href="assets/images/sprite.svg#icon-Community"></use>
                  </svg>
                  <h3 class="heading-tertiary">Community</h3>
                  <p class="values-box__text">
                      The coral platform was built to create a community of providers
                      and payers that could transform healthcare into a GOOD experience
                      for themselves, and their patients.
                  </p>

              </div>


          </div>


      </div>
      <div class="teams">
          <h2 class="head-2">Our <span>Team</span></h2>




          <div class="slider1">
              <div class="slide slide1">
                  <div class="team__box">

                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>

                      <h5 class="head-5">Gregory Smith</h5>
                      <span>Founder & CEO</span>
                  </div>
                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Troy Reichert</h5>
                      <span>CRO</span>
                  </div>

              </div>



              <div class="slide">

              <div class="team__box">
                  <div class="team__box-img">
                      <img src="assets/images/greg.jpg" alt="">
                  </div>
                  <h5 class="head-5">Randy Compton</h5>
                  <span>CFO</span>
              </div>

              <div class="team__box">
                  <div class="team__box-img">
                      <img src="assets/images/greg.jpg" alt="">
                  </div>
                  <h5 class="head-5">Mohammed Sameer</h5>
                  <span>CTO</span>
              </div>

              </div>



              <div class="slide ">
                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Shaymaa Abubakr</h5>
                      <span>Product Lead</span>
                  </div>

                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Ahmed Naguib</h5>
                      <span>Architect</span>
                  </div>
              </div>

              <div class="slide slide4">
                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Ahmed Emad</h5>
                      <span>Architect</span>
                  </div>

                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Morgan Smith</h5>
                      <span>Product Lead</span>
                  </div>
              </div>


              <div class="slide slide5">
                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Nahla Ramadan</h5>
                      <span>QC - Lead</span>
                  </div>

                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Mohamed Azzam</h5>
                      <span>UX/UI</span>
                  </div>
              </div>


              <div class="slide ">

                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Jay Kempton</h5>
                      <span>Advisor</span>
                  </div>

                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Keith Smith M.D.</h5>
                      <span>Advisor</span>
                  </div>
              </div>

              <div class="slide ">
                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Dwayne Schmidt M.D.</h5>
                      <span>Developer</span>
                  </div>



                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Sameh Aly</h5>
                      <span>Mobile Lead</span>
                  </div>
              </div>

              <div class="slide ">
                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Omnia Sabry</h5>
                      <span>HR Manager</span>
                  </div>

                  <div class="team__box">
                      <div class="team__box-img">
                          <img src="assets/images/greg.jpg" alt="">
                      </div>
                      <h5 class="head-5">Someone one else</h5>
                      <span>HR Manager</span>
                  </div>

              </div>
          </div>





          <p>
              And 42 more. We’re always hiring the best of the best.
              <a href="careers.html">
                  Click here to apply.

              </a>
          </p>
      </div>

  </div>

<app-footer></app-footer>
